*{
box-sizing:border-box;
}

html {
  font-size: 10px;
}
body{
  background-image: url("../img/spaceBKGND.png");
  background-repeat: repeat;
  background-size: cover;
  color: white;
}
h1{
  text-align: center;
  display: block;
  float:left;
  width:100%;
  color: white;
  font-weight:900;
  -webkit-text-stroke: .4px black;
  text-align: center;
  font-size: 5rem;
}

section,h2,h3{
  text-align: center;
  display: block;
  float:left;
  width:100%;
  /* border: 2px solid black; */
  color: white;
  font-weight:900;
  -webkit-text-stroke: .3px navy;
  text-align: center;
  font-size: 3rem;
}

button,input{
  width:30%;
  height: 50px;
  background-color: grey;
  font-size: 3rem;

}
h3{
  padding-left: 20%;
  padding-right: 20%;
}
h2::first-letter{
  text-transform: uppercase;
}
